{% extends 'base.html' %}

{% block title %} About us {% endblock %}

{% block body %}

  <!-- Top bar -->
  <div class="top-bar">
    <h1>About Us</h1>
    <p><a href="{% url 'index' %}">Home</a> / About Developers Points</p>
  </div>
  <!-- end Top bar -->

<!-- Main container -->
<div class="main-container">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 mt-5 mt-lg-0" style="text-align: center;">
        <h3 class="uppercase">About Us </h3>
        <h5>Developers Points</h5>
        <div class="h-30"></div>
        <p>Developers Points is a Software Company specialized solutions and services organization focused on solving some of the complex problems in applications management </p>

        <p>We are a enthusiastic team of professionals having Technical Strength in Python, Django, Javascript, Seleniun, Beautiful Soup, ReactJS, Redux, WordPress, NodeJS and other Technologies and Tools.
          </p>
        <div class="h-10"></div>
        <ul class="social-ul">
          <li class="box-social"><a href="https://www.facebook.com/DevelopersPoint-101551344937496"><i class="ion-social-facebook"></i></a></li>
          <li class="box-social"><a href="https://www.instagram.com/developerspoint/?hl=en"><i class="ion-social-instagram-outline"></i></a></li>
          <li class="box-social"><a href="https://www.linkedin.com/company/79732487"><i class="ion-social-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end Main container -->

  <!-- footer -->


{% endblock %}