{% extend 'base.html' %}

{% block title %} {% endblock %}

{% block body %}
<div id="wrap">
    <div id="main-wrapper">
     {% include 'header.html' %}
      
      <!--======= SUB BANNER =========-->
      <section class="sub-banner">
        <div class="container">
          <div class="position-center-center">
            <h2>OUR BLOG</h2>
          </div>
        </div>
      </section>
      
      <!--======= Blog =========-->
      <section class="sectoion-100px our-blog blog-page">
        <div class="container"> 
          
          <!-- Blog Post -->
          <div class="row">
            <div class="col-md-9"> 
              <!-- Post -->
              <div class="blog-in"> 
                <!-- Post Image -->
                <div class="blog-up-sec"> <img class="img-responsive" src="images/blog-3.jpg" alt=""> 
                  <!-- Post Date -->
                  <div class="date-post"> 29 <span> AUG</span> <img src="images/icon-date-post.png" alt=""> </div>
                </div>
                <!-- Post Detail --> 
                <span>By admin / Agency</span> <a href="#." class="heading"> We're gonna make our dreams come true They were four men all together yet they were all alone.</a>
                <p>And we'll do it our way yes our way. Make all our dreams come true for me and you. Boy the way Glen Miller played. Songs that made the hit parade. </p>
              </div>
              
              <!-- Post -->
              <div class="blog-in"> 
                <!-- Post Image -->
                <div class="blog-up-sec"> <img class="img-responsive" src="images/blog-4.jpg" alt=""> 
                  <!-- Post Date -->
                  <div class="date-post"> 29 <span> AUG</span> <img src="images/icon-date-post.png" alt=""> </div>
                </div>
                <!-- Post Detail --> 
                <span>By admin / Agency</span> <a href="#." class="heading"> We're gonna make our dreams come true They were four men all together yet they were all alone.</a>
                <p>And we'll do it our way yes our way. Make all our dreams come true for me and you. Boy the way Glen Miller played. Songs that made the hit parade. </p>
              </div>
              
              <!-- Post -->
              <div class="blog-in"> 
                <!-- Post Image -->
                <div class="blog-up-sec"> <img class="img-responsive" src="images/blog-5.jpg" alt=""> 
                  <!-- Post Date -->
                  <div class="date-post"> 29 <span> AUG</span> <img src="images/icon-date-post.png" alt=""> </div>
                </div>
                <!-- Post Detail --> 
                <span>By admin / Agency</span> <a href="#." class="heading"> We're gonna make our dreams come true They were four men all together yet they were all alone.</a>
                <p>And we'll do it our way yes our way. Make all our dreams come true for me and you. Boy the way Glen Miller played. Songs that made the hit parade. </p>
              </div>
              
              <!-- Post -->
              <div class="blog-in"> 
                <!-- Post Image -->
                <div class="blog-up-sec"> <img class="img-responsive" src="images/blog-6.jpg" alt=""> 
                  <!-- Post Date -->
                  <div class="date-post"> 29 <span> AUG</span> <img src="images/icon-date-post.png" alt=""> </div>
                </div>
                <!-- Post Detail --> 
                <span>By admin / Agency</span> <a href="#." class="heading"> We're gonna make our dreams come true They were four men all together yet they were all alone.</a>
                <p>And we'll do it our way yes our way. Make all our dreams come true for me and you. Boy the way Glen Miller played. Songs that made the hit parade. </p>
              </div>
              
              <!-- Post -->
              <div class="blog-in"> 
                <!-- Post Image -->
                <div class="blog-up-sec"> <img class="img-responsive" src="images/blog-7.jpg" alt=""> 
                  <!-- Post Date -->
                  <div class="date-post"> 29 <span> AUG</span> <img src="images/icon-date-post.png" alt=""> </div>
                </div>
                <!-- Post Detail --> 
                <span>By admin / Agency</span> <a href="#." class="heading"> We're gonna make our dreams come true They were four men all together yet they were all alone.</a>
                <p>And we'll do it our way yes our way. Make all our dreams come true for me and you. Boy the way Glen Miller played. Songs that made the hit parade. </p>
              </div>
              
              <!--======= Pagination =========-->
              <ul class="pagination">
                <li><a href="#.">1</a></li>
                <li><a href="#.">2</a></li>
                <li><a href="#.">3</a></li>
              </ul>
            </div>
            
            <!--======= SIDE BAR =========-->
            <div class="col-sm-3">
              <div class="side-bar"> 
                <!--======= CATEGORIES =========-->
                <div class="cate">
                  <h5>Categories</h5>
                  <hr>
                  <ul>
                    <li><a href="#.">Photography <span>(25)</span></a></li>
                    <li><a href="#.">Design <span>(12)</span></a></li>
                    <li><a href="#.">Music <span>(18)</span></a></li>
                    <li><a href="#.">Fashion <span>(35)</span></a></li>
                    <li><a href="#.">Photoshop <span>(24)</span></a></li>
                    <li><a href="#.">Articles <span>(15)</span></a></li>
                    <li><a href="#.">Video <span>(05)</span></a></li>
                  </ul>
                </div>
                
                <!--======= PAPULAR POST =========-->
                <div class="papu-post margin-t-40">
                  <h5>Popular Post</h5>
                  <hr>
                  <ul>
                    <li class="media">
                      <div class="media-left"> <a href="#"> <img class="media-object" src="images/about-img-1.jpg" alt=""></a> </div>
                      <div class="media-body"> <a class="media-heading" href="#.">Were gonna pay a call a boldly go where no </a> <span>Aug 19, 2015</span> </div>
                    </li>
                    <li class="media">
                      <div class="media-left"> <a href="#"> <img class="media-object" src="images/about-img-2.jpg" alt=""></a> </div>
                      <div class="media-body"> <a class="media-heading" href="#.">So lets make the most is  beautiful day </a> <span>Aug 19, 2015</span> </div>
                    </li>
                    <li class="media">
                      <div class="media-left"> <a href="#"> <img class="media-object" src="images/about-img-3.jpg" alt=""></a> </div>
                      <div class="media-body"> <a class="media-heading" href="#.">We're gona make dreams comes true </a> <span>Aug 19, 2015</span> </div>
                    </li>
                  </ul>
                </div>
                
                <!--======= ARCHIVES =========-->
                <div class="cate margin-t-40">
                  <h5>Archives</h5>
                  <hr>
                  <ul>
                    <li><a href="#.">FEBRUARY 2015 <span>(10)</span></a></li>
                    <li><a href="#.">March  2015 <span>(13)</span></a></li>
                    <li><a href="#.">APRIL  2015 <span>(12)</span></a></li>
                    <li><a href="#.">MAY  2015 <span>(05)</span></a></li>
                  </ul>
                </div>
                
                <!--======= TAGS =========-->
                <div class="tags margin-t-40">
                  <h5>TAGS</h5>
                  <hr>
                  <ul>
                    <li><a href="#.">Amazing </a></li>
                    <li><a href="#.">Envato </a></li>
                    <li><a href="#.">Themes </a></li>
                    <li><a href="#.">Clean </a></li>
                    <li><a href="#.">Responsiveness </a></li>
                    <li><a href="#.">SEO </a></li>
                    <li><a href="#.">Mobile </a></li>
                    <li><a href="#.">IOS </a></li>
                    <li><a href="#.">Flat </a></li>
                    <li><a href="#.">Design </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!--======= clients-logo =========-->
      <section class="sectoion-100px promo">
        <div class="container">
          <div class="position-center-center">
            <h5>Do you want to discuss with us?</h5>
            <a href="#." class="btn">CONTACT US</a> </div>
        </div>
      </section>
     
{% endblock %}