{% extends 'base.html' %}

{% block title %} Services {% endblock %}

{% block body %}

  <!-- Top bar -->
  <div class="top-bar">
    <h1>Services</h1>
    <p><a href="index.html">Home</a> / Services</p>
  </div>
  <!-- end Top bar -->

<div class="main-container">
  <div class="container">
  <div class="row">

    <!-- service-box -->
    <div class="col-md-4 service-box">
      <i class="ion-android-favorite-outline size-50"></i>
      <h3>Responsive Design</h3>
      <div class="h-10"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite
        autem medicinae </p>
    </div>
    <!-- end service-box -->

    <!-- service-box -->
    <div class="col-md-4 service-box">
      <i class="ion-android-options size-50"></i>
      <h3>Easy Customization</h3>
      <div class="h-10"></div>
      <p>We will keep you updated regarding your project. You would not feel disconnected—it's a guarantee! </p>
    </div>
    <!-- end service-box -->

    <!-- service-box -->
    <div class="col-md-4  service-box">
      <i class="ion-android-checkmark-circle size-50"></i>
      <h3>Creative Design</h3>
      <div class="h-10"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite
        autem medicinae </p>
    </div>
    <!-- end service-box -->

    <!-- service-box -->
    <div class="col-md-4  service-box">
      <i class="ion-ios-pulse-strong size-50"></i>
      <h3>user friendly</h3>
      <div class="h-10"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite
        autem medicinae </p>
    </div>
    <!-- end service-box -->

    <!-- service-box -->
    <div class="col-md-4  service-box">
      <i class="ion-earth size-50"></i>
      <h3>fully customizible</h3>
      <div class="h-10"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite
        autem medicinae </p>
    </div>
    <!-- end service-box -->

    <!-- service-box -->
    <div class="col-md-4  service-box">
      <i class="ion-speedometer size-50"></i>
      <h3>retina ready</h3>
      <div class="h-10"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite
        autem medicinae </p>
    </div>
    <!-- end service-box -->

  </div>
  </div>
</div>

<!-- footer -->
<footer>
  <div class="container-fluid">
    <p class="copyright">© Copyright 2020, Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></p>
  </div>
</footer>
<!-- end footer -->

<!-- back to top -->
<a href="#!" class="cd-top cd-is-visible cd-fade-out"><i class="ion-android-arrow-up"></i></a>
<!-- end back to top -->

{% endblock %}